.bolded { font-weight: bold; }

body
{
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(102,229,255,1) 86%, rgba(0,212,255,1) 100%);
  color: black;
  font-family: Arial;
  overflow: hidden;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
}

#menuToggle a
{
  color: black;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: black;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;  
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  background-color: #4cacc9;
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

#divScroll {
  height:500px;
  width:800px;
  margin-left: 500px;
  margin-right: auto;
  margin-top: 20px;
  background-color: white;
  border: hidden;
  padding: 10px 10px 10px 10px;
  overflow-y: scroll;
  max-height: 433px;
  border-radius: 5px;
  outline: #254C58 solid 25px;
}

::-webkit-scrollbar {
  width: 1em;
  height: 2em;
}

::-webkit-scrollbar-track{
  background: rgb(211, 198, 198);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background: black;
  border: 0.01em solid;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(34, 32, 41);
}

header {
  font-weight: bold;
  font-size: 2rem;
}

.th1 {
  font-weight: bold;
  font-size: 2rem;
}

.first-paragraph::first-letter {
font-size: 2rem;
}

.quote {
  color: #00beef;
  font-size: 1.4rem;
  text-align: center;
  font-family: Arial;
}

.quote::before {
  content: '" ';
}

.quote::after {
  content: ' "';
}

.nav-link {
  color: #fff;
  text-align: center;
  font-size: 30x;
  width: 220px;
  padding: 16px;
  transition: all 0.5s;
  cursor: pointer;
  font-family: Arial;
}

.nav-link{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.nav-link:after {
  content: '↠';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.nav-link:hover{
  padding-right: 24px;
  padding-left:8px;
}

.nav-link:hover:after {
  opacity: 1;
  right: 10px;
}

a:link { 
  text-decoration: none; 
}

.buttons {
  border-radius: 10px;
  position: relative;
  top: -5px;
  right: -20px;
  background-color: #254C58;
  color: white;
}

.checkbox {
  font-weight: bold;
  font-size: 1rem;
}